In [ ]:
import pandas as pd

In [ ]:
daily_df = pd.read_csv('data/daily_report.csv')
daily_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
daily_df = daily_df.groupby('Country_Region').sum().reset_index()
daily_df

In [54]:
conditions = ["confirmed", "deaths", "recovered"]


def make_global_df():
    def make_df(condition):
        df = pd.read_csv(f"data/time_{condition}.csv")
        df = (
            df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1)
            .sum()
            .reset_index(name=condition)
        )
        df = df.rename(columns={"index": "date"})
        return df

    final_df = None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df

df = make_global_df()
df

         date  confirmed   deaths  recovered
0     1/22/20        555       17         28
1     1/23/20        654       18         30
2     1/24/20        941       26         36
3     1/25/20       1434       42         39
4     1/26/20       2118       56         52
..        ...        ...      ...        ...
296  11/13/20   53421872  1303906   34453243
297  11/14/20   54015689  1312896   34731314
298  11/15/20   54485945  1319144   34960714
299  11/16/20   55014346  1326991   35349444
300  11/17/20   55624562  1338106   35784056

[301 rows x 4 columns]

In [53]:
conditions = ['confirmed', 'deaths', 'recovered']

def make_country_df(country):
    def make_df(condition):
        df = pd.read_csv(f'data/time_{condition}.csv')
        df = df.loc[df['Country/Region'] == country]
        df = df.drop(['Province/State', 'Country/Region', 'Lat', 'Long'], axis=1).sum().reset_index(name=condition)
        df = df.rename(columns={'index': 'date'})
        return df

    final_df = None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df

df = make_country_df('Iran')
df

         date  confirmed  deaths  recovered
0     1/22/20          0       0          0
1     1/23/20          0       0          0
2     1/24/20          0       0          0
3     1/25/20          0       0          0
4     1/26/20          0       0          0
..        ...        ...     ...        ...
296  11/13/20     738322   40582     546642
297  11/14/20     749525   41034     552747
298  11/15/20     762068   41493     558818
299  11/16/20     775121   41979     564699
300  11/17/20     788473   42461     570774

[301 rows x 4 columns]